NEXT_PUBLIC_GPT_API=""
NEXT_PUBLIC_SUPABASE_KEY="eyJhbGciOiJIUzI1NiIR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6Zml0dWFybmZ6amNya2lpb2JiIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTQzMDIwNDUsImV4cCI6MjAwOTg3ODA0NX0.kJBtlF6tBPdJqrha2a_FUWEU8l_ZI883Bny5LXrUk"